Repository yukyhendiawan/import-export-menu: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs, npm run lint:js:src:fix, npm run lint:js:src, npm run lint:js:assets:fix, npm run lint:js:assets, npm run lint:scss:src:fix, npm run lint:scss:src, npm run lint:css:assets:fix, npm run lint:css:assets, npm run sort:package, npm run lint:pkg:json, npm run sort:composer, npm run lint:md:docs, npx prettier --write README.md

.lintstagedrc:

{
    "*.php": [
        "npm run check:php:compatibility:56+",
        "npm run check:php:compatibility:wp:56+",
        "npm run lint:wpcs:fix",
        "npm run lint:wpcs"
    ],
    "*.js": [
        "npm run lint:js:src:fix",
        "npm run lint:js:src",
        "npm run lint:js:assets:fix",
        "npm run lint:js:assets"
    ],
    "*.scss": [
        "npm run lint:scss:src:fix",
        "npm run lint:scss:src"
    ],    
    "*.css": [
        "npm run lint:css:assets:fix",
        "npm run lint:css:assets"
    ],
    "package.json": [
        "npm run sort:package",
        "npm run lint:pkg:json"
    ],
    "composer.json": [
        "npm run sort:composer"
    ],
    "README.md": [
        "npm run lint:md:docs",
        "npx prettier --write README.md"
    ]
}

refactor: prettier setting
  .prettierignore
  .prettierrc
Due: none

refactor(package): restructure and clean up package
  package.json
Due: npm run sort:package, npm run lint:pkg:json

test: lint commit
  package-lock.json
Due: none

style: admin page description
  assets/css/import-export-menu-admin.css
  assets/css/import-export-menu-admin.min.css
  assets/css/import-export-menu-admin.min.css.map
  src/assets/scss/admin/_menu-page.scss
Due: npm run lint:scss:src:fix, npm run lint:scss:src, npm run lint:css:assets:fix, npm run lint:css:assets

build: update packages
  package.json
Due: npm run sort:package, npm run lint:pkg:json

chore: release v1.2.9
  CHANGELOG.md
  README.txt
  import-export-menu.php
  package-lock.json
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs, npm run sort:package, npm run lint:pkg:json

feat: update new packages
  package.json
Due: npm run sort:package, npm run lint:pkg:json

feat: tested up to version 6.7
  README.txt
Due: none

chore: release v1.3.0
  CHANGELOG.md
  README.txt
  import-export-menu.php
  package-lock.json
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs, npm run sort:package, npm run lint:pkg:json

fix: sass deprecated function import
  src/assets/scss/import-export-menu-admin.scss
Due: npm run lint:scss:src:fix, npm run lint:scss:src

refactor: file index.php
  admin/index.php
  includes/index.php
  index.php
  public/index.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs

refactor: gitignore
  .gitignore
Due: none

refactor: file index.php docblock comments
  admin/index.php
  includes/index.php
  index.php
  public/index.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs

refactor: update new package
  package.json
Due: npm run sort:package, npm run lint:pkg:json

refactor: function name extract changelog
  admin/partials/information.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs

fix: plugin check new version 1.3.1
  .wordpress.org/banner-1544x500.png
  .wordpress.org/banner-772x250.png
  .wordpress.org/icon-128x128.png
  .wordpress.org/icon-256x256.png
  admin/partials/information.php
  assets/images/screenshot-1.png
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs

chore: release v1.3.1
  CHANGELOG.md
  README.txt
  import-export-menu.php
  package-lock.json
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs, npm run sort:package, npm run lint:pkg:json

fix: looping changelogs
  admin/partials/information.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs

refactor: admin menu
  admin/partials/information.php
  package-lock.json
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs, npm run sort:package, npm run lint:pkg:json

chore: release v2.0.1
  CHANGELOG.md
  README.txt
  import-export-menu.php
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs, npm run sort:package, npm run lint:pkg:json

chore(deps): update all composer and npm dependencies to latest versions
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: npm run sort:package, npm run lint:pkg:json, npm run sort:composer

style(admin): improve styling of changelog section
  admin/partials/information.php
  assets/css/import-export-menu-admin.css
  assets/css/import-export-menu-admin.min.css
  assets/css/import-export-menu-admin.min.css.map
  src/assets/scss/admin/_menu-page.scss
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs, npm run lint:scss:src:fix, npm run lint:scss:src, npm run lint:css:assets:fix, npm run lint:css:assets

chore: release v2.0.2
  CHANGELOG.md
  README.txt
  assets/css/import-export-menu-admin.css
  import-export-menu.php
  package-lock.json
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs, npm run lint:css:assets:fix, npm run lint:css:assets, npm run sort:package, npm run lint:pkg:json

fix(admin-menu): changelog lists
  admin/partials/information.php
  assets/css/import-export-menu-admin.css
  assets/css/import-export-menu-admin.min.css
  assets/css/import-export-menu-admin.min.css.map
  src/assets/scss/admin/_menu-page.scss
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs, npm run lint:scss:src:fix, npm run lint:scss:src, npm run lint:css:assets:fix, npm run lint:css:assets

chore: release v2.0.3
  CHANGELOG.md
  README.txt
  import-export-menu.php
  package-lock.json
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs:fix, npm run lint:wpcs, npm run sort:package, npm run lint:pkg:json
