Repository yukyhendiawan/import-export-menu: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:css:fix, npm run lint:css, npm run lint:pkg:json, npm run lint:readme:md

.lintstagedrc:

{
    "*.php": [
        "npm run check:php:compatibility:56+",
        "npm run check:php:compatibility:wp:56+",
        "npm run lint:wpcs"
    ],
    "*.css": [
        "npm run lint:css:fix",
        "npm run lint:css"
    ],
    "*.json": [
        "npm run lint:pkg:json"
    ],
    "*.md": [
        "npm run lint:readme:md"
    ]
}

feat: generate .pot file for translations
  README.txt
  import-export-menu.php
  languages/import-export-menu.pot
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:pkg:json

fix: update plugin information
  README.txt
  import-export-menu.php
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:pkg:json

fix: plugin check
  admin/class-import-export-menu-admin.php
  admin/partials/import-export-menu.php
  composer.json
  import-export-menu.php
  languages/import-export-menu.pot
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:pkg:json

feat: added a dist plugin
  .distignore
  bin/dist.sh
  package.json
Due: npm run lint:pkg:json

chrone(release): 1.2.2
  README.txt
  import-export-menu.php
  languages/import-export-menu.pot
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:pkg:json

fix(import): if no menus are found
  admin/class-import-export-menu-admin.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs

fix(import): if the file does not exist or permission issue
  admin/class-import-export-menu-admin.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs

refactor(import): check logic the file upload
  .eslintignore
  .eslintrc
  .gitignore
  admin/class-import-export-menu-admin.php
  composer.lock
  includes/class-import-export-menu.php
  package-lock.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:pkg:json

chrone(release): 1.2.3
  README.txt
  import-export-menu.php
  languages/import-export-menu.pot
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:pkg:json

fix: prefix define
  README.txt
  admin/class-import-export-menu-admin.php
  import-export-menu.php
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:pkg:json

chrone(release): 1.2.4
  languages/import-export-menu.pot
Due: none

build: setup plugin with various packages and dependencies
  .distignore
  .eslintignore
  .gitignore
  .lintstagedrc
  .prettierignore
  .prettierrc
  .release-it.json
  .stylelintignore
  .vscode/settings.json
  CHANGELOG.md
  admin/class-import-export-menu-admin.php
  admin/partials/content.php
  admin/partials/sidebar.php
  assets/css/import-export-menu-admin.css
  assets/css/import-export-menu-admin.min.css
  assets/css/import-export-menu-admin.min.css.map
  assets/images/yukyhendiawan.jpg
  assets/js/admin-menu.js
  assets/js/admin-menu.min.js
  assets/js/script.js
  assets/js/script.min.js
  bin/update-version.sh
  composer.json
  composer.lock
  gulpfile.js
  includes/class-import-export-menu.php
  package-lock.json
  package.json
  phpcs.xml
  sortComposerJson.js
  sortPackageJson.js
  src/assets/js/admin-menu.js
  src/assets/scss/admin/_import-export-menu.scss
  src/assets/scss/admin/_menu-page.scss
  src/assets/scss/import-export-menu-admin.scss
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:css:fix, npm run lint:css, npm run lint:pkg:json, npm run lint:readme:md

fix: remove all admin notices
  admin/class-import-export-menu-admin.php
  admin/css/import-export-menu-admin.css
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:css:fix, npm run lint:css

fix: enqueues the necessary css and js
  admin/class-import-export-menu-admin.php
  assets/js/import-export-menu-admin.js
  assets/js/import-export-menu-admin.min.js
  assets/js/script.js
  assets/js/script.min.js
  assets/js/sweetalert.js
  assets/js/sweetalert.min.js
  src/assets/js/import-export-menu-admin.js
  src/assets/js/sweetalert.js
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs

refactor: admin menu about
  admin/class-import-export-menu-admin.php
  admin/partials/content.php
  admin/partials/sidebar.php
  assets/css/import-export-menu-admin.css
  assets/css/import-export-menu-admin.min.css
  assets/css/import-export-menu-admin.min.css.map
  src/assets/scss/admin/_menu-page.scss
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:css:fix, npm run lint:css

refactor: admin import export
  admin/class-import-export-menu-admin.php
  admin/partials/import-export-menu.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs

fix: all linter issues
  .eslintignore
  .lintstagedrc
  .stylelintrc
  admin/class-import-export-menu-admin.php
  admin/partials/sidebar.php
  assets/css/import-export-menu-admin.css
  assets/css/import-export-menu-admin.min.css
  assets/css/import-export-menu-admin.min.css.map
  assets/js/import-export-menu-admin.js
  package.json
  src/assets/js/import-export-menu-admin.js
  src/assets/scss/admin/_import-export-menu.scss
  src/assets/scss/admin/_menu-page.scss
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:css:fix, npm run lint:css, npm run lint:pkg:json

refactor: information plugin
  README.txt
Due: none

refactor: update icon, banner, and screenshots
  .wordpress.org/banner-1544x500.png
  .wordpress.org/banner-772x250.png
  .wordpress.org/icon-128x128.png
  .wordpress.org/icon-256x256.png
  .wordpress.org/screenshot-1.png
Due: none

refactor: distignore file
  .distignore
Due: none

fix: enqueue style
  admin/class-import-export-menu-admin.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs

refactor: before:release package
  .release-it.json
Due: npm run lint:pkg:json

chore: release v1.2.5
  CHANGELOG.md
  README.md
  README.txt
  import-export-menu.php
  package-lock.json
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:pkg:json, npm run lint:readme:md

fix: information readme
  README.txt
Due: none

chore: release v1.2.6
  CHANGELOG.md
  README.txt
  import-export-menu.php
  package-lock.json
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:pkg:json, npm run lint:readme:md

refactor: disable changelog readme.txt file
  bin/update-version.sh
Due: none

refactor: assets icon and banner
  .wordpress.org/banner-1544x500.png
  .wordpress.org/banner-772x250.png
  .wordpress.org/icon-128x128.png
  .wordpress.org/icon-256x256.png
  .wordpress.org/screenshot-1.png
  admin/partials/content.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs

refactor: release-it package
  .release-it.json
Due: npm run lint:pkg:json

chore: release v1.2.7
  CHANGELOG.md
  README.txt
  import-export-menu.php
  package-lock.json
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:pkg:json, npm run lint:readme:md

fix: wp remote get logic data
  admin/partials/content.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs

refactor: bug reporting link
  admin/partials/content.php
  assets/css/import-export-menu-admin.css
  assets/css/import-export-menu-admin.min.css
  assets/css/import-export-menu-admin.min.css.map
  src/assets/scss/admin/_menu-page.scss
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:css:fix, npm run lint:css

fix(api): improve logic for fetching GitHub releases
  admin/partials/content.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs

refactor: slug submenu page
  admin/class-import-export-menu-admin.php
  admin/partials/information.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs

build(lint): add lint:css:all:fix command to fix CSS issues
  package.json
Due: npm run lint:pkg:json

fix: text-domain
  admin/partials/information.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs

fix: linting css
  assets/css/import-export-menu-admin.css
Due: npm run lint:css:fix, npm run lint:css

build: add postcss-scss for SCSS linting
  .stylelintrc
  package-lock.json
  package.json
Due: npm run lint:pkg:json

chore: release v1.2.8
  CHANGELOG.md
  README.txt
  import-export-menu.php
  package-lock.json
  package.json
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs, npm run lint:pkg:json, npm run lint:readme:md

refactor: changelog admin remove text inside '**' markers
  admin/partials/information.php
Due: npm run check:php:compatibility:56+, npm run check:php:compatibility:wp:56+, npm run lint:wpcs

refactor: rules stylelint
  .stylelintrc
  .vscode/settings.json
Due: npm run lint:pkg:json
